<div class="mb-5">
  <a href="/" class="btn btn-sm">
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14M5 12l4-4m-4 4 4 4"
      />
    </svg>
    retour
  </a>
</div>
<div class="border-b pb-3 mb-5 flex items-center justify-between">
  <div class="text-xl font-bold"><%= album.title %></div>
  <div>
    <button class="btn btn-accent" onclick="add_picture.showModal()">
      Ajouter une photo
    </button>
  </div>
</div>
<div class="grid grid-cols-4 gap-4">
  <% pictures.forEach(picture => { %>
  <div class="card card-compact bg-base-100 shadow-xl">
    <figure>
      <img class="h-[250px]" src="<%= picture.url %>" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title"><%= picture?.title %></h2>
      <p><%= picture?.description %></p>
      <div class="card-actions justify-center">
        <button
          class="btn btn-circle btn-outline btn-error"
          onclick="document.getElementById('delete_<%= picture._id %>').showModal()"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
            />
          </svg>
        </button>
        <button
          class="btn btn-circle btn-outline btn-success"
          onclick="document.getElementById('update_<%= picture._id %>').showModal()"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <dialog id="delete_<%= picture._id %>" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
      </form>
      <div class="space-y-3">
        <h3 class="text-lg font-bold">Attention</h3>
        <div>
          Vous aller supprimer la photo:
          <span class="font-bold text-lg"><%= picture.title %></span>
        </div>
      </div>
      <div class="flex flex-col items-center pt-5">
        <form action="/pictures/delete/<%= picture._id %>" method="post">
          <button class="btn btn-wide btn-error">Supprimer</button>
        </form>
      </div>
    </div>
  </dialog>

  <dialog id="update_<%= picture._id %>" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
      </form>
      <form
        action="/pictures/edit/<%= picture._id %>"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="space-y-3">
          <h3 class="text-lg font-bold">Mis à jour</h3>
          <div class="space-y-3">
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Titre</span>
              </div>
              <input
                type="text"
                name="title"
                placeholder="Type here"
                class="input input-bordered w-full"
                value="<%= picture.title  %>"
                required
              />
            </label>
            <label class="form-control w-full">
              <div class="label">
                <span class="label-text">Image</span>
              </div>
              <input
                type="file"
                name="picture"
                accept="image/*"
                class="file-input file-input-bordered w-full"
              />
            </label>
            <label class="form-control">
              <div class="label">
                <span class="label-text">Description</span>
              </div>
              <textarea
                class="textarea textarea-bordered h-24 w-full"
                placeholder="Bio"
                name="description"
                value
              >
<%= picture?.description %></textarea
              >
            </label>
          </div>
        </div>
        <div class="flex flex-col items-center pt-5">
          <button class="btn btn-wide btn-accent">Enregistrer</button>
        </div>
      </form>
    </div>
  </dialog>

  <% }) %>
</div>

<dialog id="add_picture" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <form
      action="/pictures/add/<%= album._id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="space-y-2">
        <h3 class="text-lg font-bold">Nouvelle photo</h3>
        <div class="space-y-3">
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Titre</span>
            </div>
            <input
              type="text"
              name="title"
              placeholder="Type here"
              class="input input-bordered w-full"
              required
            />
          </label>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Image</span>
            </div>
            <input
              type="file"
              name="picture"
              accept="image/*"
              class="file-input file-input-bordered w-full"
              required
            />
          </label>
          <label class="form-control">
            <div class="label">
              <span class="label-text">Description</span>
            </div>
            <textarea
              class="textarea textarea-bordered h-24 w-full"
              placeholder="Bio"
              name="description"
            ></textarea>
          </label>
        </div>
      </div>
      <div class="flex flex-col items-center pt-5">
        <button class="btn btn-wide btn-neutral">Enregistrer</button>
      </div>
    </form>
  </div>
</dialog>
